/* Contact Section */
.contactSection {
  width: 100%;
  min-height: 590px;
  background: #EEE6DC url('./contactBG.svg') center top/100% auto no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 600px) {
  .contactSection {
    background: #EEE6DC url('./contactBGmobile.svg') center top/100% auto no-repeat;
    width: 100%;
    height: auto;
    min-height: 400px;
  }
  .fbIconLink {
    left: 16px;
    bottom: 16px;
  }
}

.fbIconLink {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.fbIconLink:hover {
  transform: scale(1.08);
}
.fbIcon {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background: #dbe6d1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}



@media (max-width: 600px) {
  .fbIcon {
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }

} 